common: &common
  project_name: ABF
  repo_project_name: ABF
  anonymous_access: true
  preregistration: false
  file_store_url: <%= ENV["FILE_STORE_URL"] %>
  distr_types: ['mdv', 'rhel', 'nau5']
  github_organization: 'OpenMandrivaAssociation'
  allowed_addresses:
    - 127.0.0.1
  abf_worker:
    publish_workers_count: <%= ENV["ABF_WORKER_PUBLISH_WORKERS_COUNT"] %>
    log_server:
      host: <%= ENV["ABF_WORKER_LOG_SERVER_HOST"] %>
      port: <%= ENV["ABF_WORKER_LOG_SERVER_PORT"] %>
  airbrake:
    api_key: <%= ENV["AIRBRAKE_API_KEY"] %>
    host: <%= ENV["AIRBRAKE_HOST"] %>
  keys:
    key_pair_secret_key: <%= ENV["KEY_PAIR_SECRET_KEY"] %>
    node_instruction_secret_key: <%= ENV["NODE_INSTRUCTION_SECRET_KEY"] %>
    secret_token: <%= ENV["SECRET_TOKEN"] %>
    secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
    devise:
      pepper: <%= ENV["DEVISE_PEPPER"] %>
      secret: <%= ENV["DEVISE_SECRET"] %>
    github:
      id: <%= ENV["GITHUB_APP_ID"] %>
      secret: <%= ENV["GITHUB_APP_SECRET"] %>
    google:
      id: <%= ENV["GOOGLE_APP_ID"] %>
      secret: <%= ENV["GOOGLE_APP_SECRET"] %>
    facebook:
      id: <%= ENV["FACEBOOK_APP_ID"] %>
      secret: <%= ENV["FACEBOOK_APP_SECRET"] %>
  downloads_url: <%= ENV["DOWNLOADS_URL"] %>
  wiki_formats:
    markdown:  "Markdown"
    textile:   "Textile"
    # rdoc:      "RDoc"
    org:       "Org-mode"
    # creole:    "Creole"
    # mediawiki: "MediaWiki"
  feedback:
    email:
      - <%= ENV["FEEDBACK_EMAIL"] %>
    cc:
      - <%= ENV["FEEDBACK_CC"] %>
    subject_prefixes:
      - 'abf-users'
      - 'feeback_form'
  shell_user: 'git'

development:
  <<: *common
  root_path: /share
  git_path: /share
  tmpfs_path: /dev/shm
  do-not-reply-email: do-not-reply@localhost
  github_services:
    ip: 127.0.0.1
    port: 1234

production:
  <<: *common
  root_path: <%= ENV["ROOT_PATH"] %>
  git_path: <%= ENV["GIT_PATH"] %>
  tmpfs_path: <%= ENV["TMPFS_PATH"] %>
  do-not-reply-email: <%= ENV["DO_NOT_REPLY_EMAIL"] %>
  mailer_https_url: <%= ENV["MAILER_HTTPS_URL"] %>
  github_services:
    ip: <%= ENV["GITHUB_SERVICES_ID"] %>
    port: <%= ENV["GITHUB_SERVICES_PORT"] %>

test:
  <<: *common
  tmpfs_path: "use Rails.root/tmp/test_root in spec"
  root_path: "use Rails.root/tmp/test_root in spec"
  git_path: "use Rails.root/tmp/test_root in spec"
  do-not-reply-email: do-not-reply@localhost
