production:
  adapter: postgresql
  encoding: unicode
  database: <%= ENV["DATABASE_NAME"] %>
  template: template0
  host: <%= ENV["DATABASE_HOST"] %>
  username: <%= ENV["DATABASE_USERNAME"] %>
  password: <%= ENV["DATABASE_PASSWORD"] %>
  pool: <%= ENV["DATABASE_POOL"] %>
  timeout: <%= ENV["DATABASE_TIMEOUT"] %>

test:
  adapter: postgresql
  encoding: unicode
  template: template0
  database: rosa_build_test
  username: postgres
